.layout {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 360px;
    min-height: 100vh;
}

.main {
    display: flex;
    align-items: stretch;
    overflow-y: auto;
}

@media (max-width: 1024px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .main {
        flex-direction: column;
    }
}